<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <p>Get your student <a href="/student">here</a></p>
    <h1>Spring Boot!</h1>
    <p th:text="${name}"></p>


    <div th:each="item : ${hobbies}">
        <h4 th:text="${item.id}"></h4>
        <h5 th:text="${item.title}"></h5>
    </div>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>

        <table>
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
            <tr th:each="item : ${hobbies}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.content}"></td>
            </tr>
        </table>

    
</body> 
</html>